auto-install-peers=true
strict-peer-dependencies=false
node-linker=isolated
public-hoist-pattern[]=*eslint*
public-hoist-pattern[]=*prettier*
public-hoist-pattern[]=@prisma/*
only-built-dependencies[]=argon2
only-built-dependencies[]=workerd
only-built-dependencies[]=esbuild
